<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Packages</key>
	<array>
		<dict>
			<key>bundleid</key>
			<string>com.lint.tabtracker</string>
			<key>description</key>
			<string>Logs number of tabs opened in Safari.</string>
			<key>last_updated</key>
			<string>2018-12-13</string>
			<key>title</key>
			<string>TabTracker</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.transparentwallpaperbuttons</string>
			<key>description</key>
			<string>Makes wallpaper buttons transparent in photos app.</string>
			<key>title</key>
			<string>TransparentWallpaperButtons</string>
			<key>version</key>
			<string>0.0.1</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.autoopencameraroll</string>
			<key>changelog</key>
			<dict>
				<key>1.0.0</key>
				<string>Initial release.</string>
				<key>1.0.1</key>
				<string>Added support for ios 12 photos app.</string>
				<key>1.0.2</key>
				<string>*Actually* implemented it for ios 12.</string>
			</dict>
			<key>description</key>
			<string>Automatically opens camera roll when launching Photos or the PhotoPicker &lt;br/&gt; Issues: The PhotoPicker moves to the camera roll after a slight delay after launching </string>
			<key>last_updated</key>
			<string>2019-09-01</string>
			<key>title</key>
			<string>AutoOpenCameraRoll</string>
			<key>version</key>
			<string>1.0.1</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.newawardsforoldreddit</string>
			<key>description</key>
			<string>Implements Reddit's new awards (silver and platinum) into Reddit v3.13.1 and Narwhal.</string>
			<key>last_updated</key>
			<string>2019-03-17</string>
			<key>title</key>
			<string>NewAwardsForOldReddit</string>
			<key>version</key>
			<string>1.2.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.undelete</string>
			<key>changelog</key>
			<dict>
				<key>1.0.0</key>
				<string>Initial release</string>
				<key>1.0.2</key>
				<string>Bug fixes and improvements</string>
				<key>1.1.0</key>
				<string>

&amp;#8226; Complete redesign of button &lt;br/&gt;
&amp;#8226; Compatible with Reddit 4.x &lt;br/&gt;
&amp;#8226; Add functionality for posts &lt;br/&gt;
&amp;#8226; A12 support 
</string>
				<key>1.1.1</key>
				<string>Bug fixes</string>
				<key>1.2.0</key>
				<string>Added Apollo &amp; Narwhal support, fixed crash when empty data was received from pushshift.</string>
				<key>1.2.1</key>
				<string>Fixed post crash on Reddit 4.44.0</string>
				<key>1.2.2</key>
				<string>Bug fixes</string>
				<key>1.2.3</key>
				<string>Added option to enable the eye for only deleted comments in Apollo, better fix for Apollo UI, reimplement option in Narwhal menu</string>
				<key>1.2.4</key>
				<string>Added support for Reddit 4.45.0 update</string>
				<key>1.2.5</key>
				<string>Added Reddit support for ios 10 and several other app versions (4.21 -&gt;)</string>
				<key>1.2.6</key>
				<string>Added more Reddit support (4.0 -&gt;) for some reason</string>
				<key>1.2.7</key>
				<string>Added request timeout option, switch to Cephei prefs</string>
				<key>1.3.0</key>
				<string>Added support for Alien Blue, Antenna, BaconReader, Beam, and Slide

Removed Cephei, and other preference changes

Added option to only show button on deleted comments/posts for every supported app

Fixed Reddit crashes

Moved Apollo button to action menu

Fixed Apollo author resetting bug 

</string>
				<key>1.3.1</key>
				<string>Fixed Apollo crash

Added option for Apollo to have button on the comment rather than in the menu</string>
				<key>1.3.2</key>
				<string>Use SF Symbols for Apollo if possible
&lt;br/&gt;
Add support for Reddit 2020.0.0</string>
			</dict>
			<key>description</key>
			<string>See what those pesky "[deleted]" comments and posts were without leaving Reddit! 

&lt;br/&gt;&lt;br/&gt; 

For Reddit: 
To use, tap the "..." button on comments or a self text post, and then tap on the new option called "TF did that say?". The comment/post will then be replaced with what it said when it was archived.

&lt;br/&gt;

For Apollo:
Tap the small eye icon added to comments and self text posts.

&lt;br/&gt;

For Narwhal: 
Open the "more" menu on comments, tap the new button that says "tf did that say?" to activate. On self text posts, tap the "..." button and do the same thing.


&lt;br/&gt;&lt;br/&gt; 

Comments and posts are retrieved using &lt;a href="https://pushshift.io"&gt;pushshift&lt;/a&gt;.

&lt;br/&gt;&lt;br/&gt; 

A12 is supported.</string>
			<key>last_updated</key>
			<string>2020-01-15</string>
			<key>max_ios</key>
			<string>13</string>
			<key>min_ios</key>
			<string>10</string>
			<key>source</key>
			<string>https://github.com/lint/TFDidThatSay</string>
			<key>title</key>
			<string>undelete</string>
			<key>version</key>
			<string>1.3.2</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.videoflashindicator</string>
			<key>changelog</key>
			<dict>
				<key>1.0.0</key>
				<string>Initial release.</string>
				<key>1.0.0-1</key>
				<string>Added arm64e support.</string>
			</dict>
			<key>description</key>
			<string>A flash that lasts for 1 second after a video recording is started. Helpful with showing if remote activators actually started the video.</string>
			<key>last_updated</key>
			<string>2019-09-07</string>
			<key>title</key>
			<string>VideoFlashIndicator</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.photoctrl</string>
			<key>changelog</key>
			<dict>
				<key>1.0.0</key>
				<string>Initial release</string>
				<key>1.0.1</key>
				<string>Fix crash when creating a new album. </string>
			</dict>
			<key>description</key>
			<string>Adds a "ctrl + shift" like function to the Photos App when selecting photos. 
&lt;br/&gt;
Supports A12

</string>
			<key>last_updated</key>
			<string>2019-09-17</string>
			<key>source</key>
			<string>https://github.com/lint/PhotoCtrl</string>
			<key>title</key>
			<string>PhotoCtrl</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.bruhyougotplayed</string>
			<key>description</key>
			<string>Replaces "Read" with "Played" after an hour and a half.

A12 supported.</string>
			<key>last_updated</key>
			<string>2019-09-20</string>
			<key>source</key>
			<string>https://github.com/lint/BruhYouGotPlayed</string>
			<key>title</key>
			<string>BruhYouGotPlayed</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.khanacademynoaudio</string>
			<key>description</key>
			<string>Should prevent audio clips from playing in the Khan Academy app.</string>
			<key>last_updated</key>
			<string>2019-10-13</string>
			<key>title</key>
			<string>KhanAcademyNoAudio</string>
			<key>version</key>
			<string>0.0.1</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.redditdarkmodecustomarrows</string>
			<key>description</key>
			<string>Enables custom subreddit upvote and downvote arrows for the official Reddit app when dark mode is enabled.</string>
			<key>last_updated</key>
			<string>2019-10-24</string>
			<key>title</key>
			<string>RedditDarkModeCustomEnabled</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.reachablecc</string>
			<key>description</key>
			<string>Presents the control center when reachability  is toggled. Reachability needs to be enabled in settings for this to work. Only works if you have a home button.</string>
			<key>last_updated</key>
			<string>2019-11-17</string>
			<key>max_ios</key>
			<string>12.4</string>
			<key>source</key>
			<string>https://github.com/lint/ReachableCC</string>
			<key>title</key>
			<string>ReachableCC</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.ntarrows</string>
			<key>description</key>
			<string>Allows you to hold the arrow keys to move the cursor in New Term.
&lt;br&gt;
Obselete as of NewTerm 2.4</string>
			<key>last_updated</key>
			<string>2019-11-19</string>
			<key>source</key>
			<string>https://github.com/lint/NewTermArrows</string>
			<key>title</key>
			<string>NewTermArrows</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.colorable</string>
			<key>description</key>
			<string>An AlienBlue color themer.

&lt;br&gt;

Design made to the specifications of u/completebunk.</string>
			<key>last_updated</key>
			<string>2020-03-15</string>
			<key>source</key>
			<string>https://github.com/lint/colorABle</string>
			<key>title</key>
			<string>ColorABle</string>
			<key>version</key>
			<string>1.1.3</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.nogetcoins</string>
			<key>change_log</key>
			<dict>
				<key>1.0.0</key>
				<string>Initial release</string>
				<key>1.0.1</key>
				<string>Hook more methods introduced in 2020.9.0</string>
			</dict>
			<key>description</key>
			<string>Removes the "Get Coins" button in the nav bar in Reddit.</string>
			<key>last_updated</key>
			<string>2020-03-20</string>
			<key>source</key>
			<string>https://github.com/lint/RedditNoGetCoinsButton</string>
			<key>title</key>
			<string>RedditNoGetCoinsButton</string>
			<key>version</key>
			<string>1.0.1</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.pasteandgo</string>
			<key>description</key>
			<string>Adds a "Paste and Go" force touch option to Safari when a valid link is in the pasteboard.</string>
			<key>last_updated</key>
			<string>2020-03-15</string>
			<key>max_ios</key>
			<string>13.3</string>
			<key>min_ios</key>
			<string>10</string>
			<key>title</key>
			<string>PasteAndGo</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.groupnumberlabels</string>
			<key>description</key>
			<string>In the group message info view, this adds each contacts phone number under their name.</string>
			<key>last_updated</key>
			<string>2020-03-21</string>
			<key>max_ios</key>
			<string>13.x</string>
			<key>source</key>
			<string>https://github.com/lint/GroupNumberLabels</string>
			<key>title</key>
			<string>GroupNumberLabels</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.notextmagnifier</string>
			<key>description</key>
			<string>Disables the text magnifier from appearing when selecting text.</string>
			<key>last_updated</key>
			<string>2020-03-21</string>
			<key>max_ios</key>
			<string>12.4</string>
			<key>title</key>
			<string>NoTextMagnifier</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.nofolderbadges</string>
			<key>description</key>
			<string>Hides notification badges on folders.</string>
			<key>last_updated</key>
			<string>2020-03-30</string>
			<key>max_ios</key>
			<string>13</string>
			<key>source</key>
			<string>https://github.com/lint/NoFolderBadges</string>
			<key>title</key>
			<string>NoFolderBadges</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.nohomebadges</string>
			<key>description</key>
			<string>Hides notifications badges on home screen icons.</string>
			<key>last_updated</key>
			<string>2020-03-30</string>
			<key>max_ios</key>
			<string>13</string>
			<key>source</key>
			<string>https://github.com/lint/NoHomeBadges</string>
			<key>title</key>
			<string>NoHomeBadges</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.nomessagepreviews</string>
			<key>description</key>
			<string>Hides text previews in messages.</string>
			<key>last_updated</key>
			<string>2020-03-30</string>
			<key>max_ios</key>
			<string>13</string>
			<key>title</key>
			<string>NoMessagePreviews</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.contacttime</string>
			<key>change_log</key>
			<string>Add expanded (more) time zones option.</string>
			<key>description</key>
			<string>Set time zones for your contacts and view their local time in messages and contacts.</string>
			<key>last_updated</key>
			<string>2020-04-14</string>
			<key>max_ios</key>
			<string>13</string>
			<key>min_ios</key>
			<string>(10?)</string>
			<key>source</key>
			<string>https://github.com/lint/ContactTime</string>
			<key>title</key>
			<string>ContactTime</string>
			<key>version</key>
			<string>1.0.1</string>
		</dict>
		<dict>
			<key>bundleid</key>
			<string>com.lint.stopitwiththecoins</string>
			<key>description</key>
			<string>Removes the "Get Coins" button on the search bar and awarded comment highlights in the official Reddit app.</string>
			<key>last_updated</key>
			<string>2020-04-25</string>
			<key>title</key>
			<string>StopItWithTheCoins</string>
			<key>version</key>
			<string>1.0.0</string>
		</dict>
	</array>
	<key>Template</key>
	<dict>
		<key>bundleid</key>
		<string>&lt;bundle id of the package&gt;</string>
		<key>changelog</key>
		<dict>
			<key>&lt;version&gt;</key>
			<string>&lt;changes made in given version&gt;</string>
		</dict>
		<key>description</key>
		<string>&lt;package description&gt;</string>
		<key>last_updated</key>
		<string>&lt;date the package was last updated&gt;</string>
		<key>max_ios</key>
		<string>&lt;maximum ios the package supports&gt;</string>
		<key>min_ios</key>
		<string>&lt;minimum ios the package supports&gt;</string>
		<key>screenshots</key>
		<array>
			<string>&lt;screenshot filename&gt;</string>
		</array>
		<key>source</key>
		<string>&lt;https://github.com/lint/SOURCE&gt;</string>
		<key>title</key>
		<string>&lt;package title&gt;</string>
		<key>version</key>
		<string>&lt;current file version&gt;</string>
	</dict>
</dict>
</plist>
